name: WDL Integration Tests

on:
  push:
    branches:
      - main
      - develop
  pull_request:
    branches:
      - main
      - develop
    types:
      - opened
      - synchronize
      - ready_for_review
      - labeled

jobs:
  test:
    name: WDL Integration Tests (Staging)
    if: contains(github.event.pull_request.labels.*.name, 'integration')
    runs-on: ubuntu-18.04
    steps:
      - name: Git checkout
        uses: actions/checkout@v2
      # performance optimizations https://abbbi.github.io/actions/
      - uses: abbbi/github-actions-tune@v1
      - name: Install java
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Install dxpy and other dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y apt-transport-https wget git openssh-server tree python3 python3-pip python3-venv
          cwltool=`jq -r '.execDepends.cwl[0].name' scripts/bundled_dependencies.json`
          # must use specific setuptools because cwltool depends on rdflib-jsonld, which has the
          # use_2to3 keyword in its setup.py, which is no longer allowed as of setuptools 58.0.2+
          pip3 install setuptools<58.0.2 wheel
          pip3 install termcolor dxpy $cwltool
      - name: Run tests
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          AUTH_TOKEN: ${{ secrets.DX_STAGING_TOKEN }}
        run: |
          export PATH="$PATH:$HOME/.local/bin"

          # set up DNAnexus staging environment
          dx login --noprojects --staging --token $AUTH_TOKEN
          PROJECT=dxCompiler_playground
          dx select $PROJECT

          # run tests
          cd ${GITHUB_WORKSPACE}
          FOLDER=/builds/test_gha_dxcompiler_$(date +%s)_$RANDOM
          dx mkdir $FOLDER
          python3 scripts/run_tests.py --test M --folder $FOLDER --project $PROJECT
      - name: Upload artifact
        uses: actions/upload-artifact@v2
        with:
          path: ./dx*.jar
          retention-days: 2
