name: Unit Tests
on:
  push:
    branches:
      - main
      - develop
  pull_request:
    branches:
      - main
      - develop
    types:
      - opened
      - synchronize
      - labeled
  workflow_dispatch:
permissions:
  contents: read
  packages: read
jobs:
  test:
    name: Scala Unit Tests (Staging)
    if: "!contains(github.event.pull_request.labels.*.name, 'minor')"
    runs-on: ubuntu-20.04
    steps:
      - name: Git Checkout
        uses: actions/checkout@v2
      # performance optimizations https://abbbi.github.io/actions/
      - uses: abbbi/github-actions-tune@v1
      - name: Install Java
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Clone corpora
        run: |
          cd compiler/src/test/resources
          ./clone-corpora.sh
      - name: Run Tests
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          AUTH_TOKEN: ${{ secrets.DX_STAGING_TOKEN }}
          SBT_OPTS: "-XX:+CMSClassUnloadingEnabled -XX:MaxPermSize=2G -Xmx2G -Xms1G"
        run: |
          sudo apt-get update
          sudo apt-get install -y apt-transport-https wget git openssh-server tree python3 python3-pip python3-venv
          cwltool=`jq -r '.execDepends.cwl[0].name' scripts/bundled_dependencies.json`
          pip3 install --upgrade pip setuptools pyOpenSSL
          pip3 install termcolor dxpy $cwltool
          export PATH="$PATH:$HOME/.local/bin"

          # install dxda
          sudo wget -O/usr/local/bin/dx-download-agent https://github.com/dnanexus/dxda/releases/download/v0.5.7/dx-download-agent-linux
          sudo chmod +x /usr/local/bin/dx-download-agent

          # set up DNAnexus staging environment
          dx login --noprojects --staging --token $AUTH_TOKEN
          dx select dxCompiler_playground

          # check formatting
          sbt scalafmtCheckAll
          # run unit tests
          cd ${GITHUB_WORKSPACE}
          pwd
          sbt version && sbt compile && sbt "testOnly -- -l prod"
